body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 233, 252);
    padding: 20px;
}
.feedback-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: 0 auto;
}
label {
    font-size: 1rem;
    font-weight: bold;
}
input, textarea {
    background-color: rgb(254, 214, 249);
}
input, textarea, button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
}
button {
    width: 100px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}