body, html {
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: rgb(111, 49, 169);
    display: flex;
    align-items: center;
    justify-content: center;
}
.buts {
    display: flex;
    gap: 55px;
}
.task {
    text-decoration: none;
    padding: 35px;
    font-size: 20px;
    color: black;
    cursor: pointer;
    border: 3px solid rgb(67, 16, 115);
    background-color: rgb(202, 147, 253);
    border-radius: 10px;
}